@reference "tailwindcss/theme.css";

.lang-switch {
  @apply relative w-22 h-10.5 rounded-full border border-white/20 cursor-pointer;
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55));
  backdrop-filter: blur(6px);
}

/* metalik knob */
.lang-switch-knob {
  @apply absolute top-[4px] left-1 h-8 w-10 rounded-full
         transition-transform duration-400;

  background: linear-gradient(180deg, #f5f5f5 0%, #d1d1d1 45%, #9e9e9e 100%);
}

/* knob positions */
.knob-left {
  @apply translate-x-0;
}

.knob-right {
  @apply translate-x-9.5;
}

/* labels */
.lang-switch-label {
  @apply absolute top-1/2 -translate-y-1/2
         text-xs font-semibold;
}

.lang-switch-label.left {
  @apply left-3.5;
}

.lang-switch-label.right {
  @apply right-3.5;
}

/* states */
.active {
  @apply text-(--coffee-espresso);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.inactive {
  @apply text-white/40;
}
