@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: var(--text-primary);
}

/* Linkler */
a {
  text-decoration: none;
  color: var(--accent-primary);
  transition: 0.3s ease;
  padding: 3px;
  border-radius: 6px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(200, 155, 109, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: var(--bg-page);
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
